.indice-mes{
    width:70%;
    padding:2%;
    margin:0 auto;
    height:1%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;  
}
.indice-mes>span{
    width:20%;
    padding:0 10%;
    font-size:3em;
    color:rgba(10,10,10,.9);
}
.indice-mes>span:hover{
    opacity: .8;
    cursor:pointer;
}

.indice-mes>h3{    
    color: rgba(10,10,10,.9);
    width: 50%;
    padding: 0 10%;
    font-size: 1.5em;
    z-index: 99;
    text-align: center;
    border: 2px solid #3c3c3c;
    border-radius: 50px;
}
.flex-container {
    display: flex;
    justify-content: space-around;
    height: 20%;
    font-size: 0.75em;
    flex-wrap: wrap-reverse;
}
.flex-card {
    padding:0;
    display: flex;
    flex-grow: 0;
    justify-content: space-around;
}
.card_title {
    margin:0;
    width: 60%;
    text-align: center;
}
.cards-values{
    width:100%;
    padding:2%;
    font-size:2em;
}
.flex-card>.image-flex {
    width: 30%;
    height: 100%;    
}
.card_icon {
    width: 80%;
    margin: 20% auto 0;
    height: 80%;
}
.lateral_nav {
    height: 100%;
    width: 12.5%;
    background-color: rgb(50, 50, 50);
}
.cards {
    background-color: rgb(230, 230, 230);
}
#title {
    margin-top:3%;
    width:100%;
    font-size:1.5em;
    color: rgb(80, 80, 80);
}
#display-imagem {
    display: none;
}
.income {
    color: white;
    background-color: lightgreen;
    background-image: linear-gradient(to bottom, lightgreen, #005000 180%);
    box-shadow: 4px 4px 6px rgba(100, 100, 100, 0.5);
    width: 50%;
    height: 43%;
}
.budget {
    color: white;
    background-image: linear-gradient(to bottom, lightcoral, #980021 180%);
    background-color: lightcoral;
    box-shadow: 4px 4px 6px rgba(100, 100, 100, 0.5);
    width: 50%;
    height: 43%;
}
.balance {
    color: white;
    background-color: lightblue;
    background-image: linear-gradient(to bottom, lightblue, navy 180%);
    box-shadow: 4px 4px 6px rgba(100, 100, 100, 0.5);
    width: 100%;
    height: 57%;
}
section.flex-container{
    display: flex;
}

@media screen and (max-width:400px) {
    
    .indice-mes{
        margin:3% auto;
    }
    .cards-values{
        margin-top:3%;
        font-size:1.5em;
    }
}
@media screen and (min-width:450px) {
    .flex-container {
        display: flex;
        justify-content: space-around;
        font-size: 0.9em;
        height: 30%;
        flex-wrap: wrap-reverse;
    }
    .flex-card {
        display: flex;
        flex-grow: 0;
        justify-content: space-around;
    }
    .card_title {
        margin: 3% auto 0; 
        height: 100%;
        width: 67%;
        text-align: center;

    }
    .flex-card>.image-flex {
        width: 30%;
        height: 100%;    
    }
    .card_icon {
        width: 80%;
        margin: 20% auto 0;
        height: 80%;
    }
    .nav_lateral {
        /*nao e esse*/
        height: 100%;
        width: 12.5%;
        background-color: rgb(77, 122, 127);
    }
    .cards {
        background-color: rgb(230, 230, 230);
    }
    #title {
        color: rgb(80, 80, 80);
    }

    #display-imagem {
        display: none;
    }

    .income {
        color: white;
        background-color: lightgreen;
        background-image: linear-gradient(to bottom, lightgreen, #005000 180%);
        box-shadow: 4px 4px 6px rgba(100, 100, 100, 0.5);
        width: 50%;
        height: 43%;
    }
    .budget {
        color: white;
        background-image: linear-gradient(to bottom, lightcoral, #980021 180%);
        background-color: lightcoral;
        box-shadow: 4px 4px 6px rgba(100, 100, 100, 0.5);
        width: 50%;
        height: 43%;
    }
    .balance {
        color: white;
        background-color: lightblue;
        background-image: linear-gradient(to bottom, lightblue, navy 180%);
        box-shadow: 4px 4px 6px rgba(100, 100, 100, 0.5);
        width: 100%;
        height: 57%;
    }
}
@media screen and (min-width:770px) {
    .flex-container {
        display: flex;
        justify-content: space-around;
        height: 18%;
        margin-top:3%;
        width: 94%;
        padding: 0 3%;
    }
    #display-imagem {
        display: flex;
    }
    .flex-card {
        display: flex;
        flex-grow: 0;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    .card_title {
        margin: 0 auto; 
        height: 100%;
        width: 80%;
        padding-left: 10%;
        padding-top: 1%;
        text-align: left;
    
    }
    .flex-card>.image-flex {
        width: 30%;
        height: 100%;    
    }
    .card_icon {
        width: 80%;
        border-radius: 0px 0px 20px 0px;
        margin: 50% auto 0;
        height: 55%;
    }
    .nav_lateral {
        height: 100%;
        width: 12.5%;
        background-color: rgb(50, 80, 80);
    }
    .cards {
        background-color: rgb(230, 230, 230);
        border-radius: 20px;
    }
    #title {
        color: rgb(130, 130, 130);
        margin:0;
        width:90%;
        border-bottom: 1px solid rgb(50, 50,50,.5);
        margin-top:7%;
        font-size:1.5em;
        color: rgb(80, 80, 80);
    }
    .cards-values{
        padding-top:10%;
        font-size:1.9em;
    }
    .income {
        color: green;
        background-image: linear-gradient(to bottom, rgb(245, 245, 245), #c0ffce 400%);
        width: 25%;
        height: 100%;
    }
    .budget {
        color: red;
        background-image: linear-gradient(to bottom, rgb(245, 245, 245), #ff8181 400%);
        box-shadow: 4px 4px 6px rgba(100, 100, 100, 0.5);
        width: 25%;
        height: 100%;
    }
    .balance {
        color: blue;
        background-image: linear-gradient(to bottom, rgb(245, 245, 245), #c0ceff 300%);
        box-shadow: 4px 4px 6px rgba(100, 100, 100, 0.5);
        width: 25%;
        height: 100%;
    }
}
@media (min-width:450px) and (max-width:700px) {

    .flex-container {
        display: flex;
        justify-content: space-around;
        font-size: 0.9em;
        height: 18%;
        flex-wrap: wrap-reverse;
    }
    .flex-card {
        height: 50%;
    }
    .card_title {
        margin: 0 auto; 
        height: 100%;
        width: 67%;
        padding-top: 3%;
        text-align: center;
    }   
}