*{
    margin:0;
    padding:0;
}

.blocografico {
    padding:0;
    display:flex;
    flex-direction: column;
    align-items:center;
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgb(250, 250, 250);
}

.blocografico .bloco { 
    display:flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    height:90%;
    box-shadow: solid white 1px;
    background-color: rgb(240, 240, 240);
    border-radius: 30px;
    margin:2% 4% 6% 2%;
}

#descricao {
    border-radius: 30px 30px 0px 0px ;
    padding-top: 4%;
    font-size: 1.2em;
    width: 100%;
    height: 10%;
    text-align: center;
    color:white;
    background-color: rgb(100, 100, 100);
}

@media screen and (min-width:768px) {
    .blocografico{
        width:70%;
        height:65%;
        display:flex;
        flex-direction: row;
        align-items: center;
        max-width:65%;
        margin:0 auto;
        background-color: rgb(250, 250, 250);
    }

    .blocografico div{ 
        align-items: center;
        display:flex;
        flex-direction: row;
        flex-grow: 1;
        flex-basis:43%;

        width:90%;
    }
}

.blocografico .bloco main {
    align-items: center;
    width: 95%;
    height: 90%;
    margin: 5%;
}
.blocografico .bloco main #linegraph {
    width: 100%;
    height: 90%;
}
.blocografico .bloco #pizzagraph {
    margin: 5%;
    width: 90%;
    height: 800%;
}
.blocografico .bloco .jj{
    width: 100%;
    height: 120%;
}

@media screen and (min-width:500px){
    .blocografico .bloco main {
        width: 90%;
        height: 83%;
    }
    .blocografico .bloco #pizzagraph {
        width: 90%;
        height: 700%;
    }
}
@media screen and (min-width:620px){
    .blocografico .bloco main {
        width: 95%;
        height:82%;
    }
}
@media screen and (min-width:772px){
    .blocografico .bloco #pizzagraph {
        margin-top: 15% ;
        width: 90%;
        height: 550%;
    }
}
