
.nav_lateral{
    display: flex;
    width: 10.5%;
    box-shadow: 5px 5px 6px rgba(100, 100, 100, 0.5)
}
.section_dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.section_dashboard img{
    width: 40%;
}


.nav_lateral a{
    text-decoration: none;
    color: #e6e6e6;
    font-size: 1rem;
}

.nav_mobile{
    display: none;
}

.mobile_menu{
    display: none;
}


@media (max-width: 540px){
    .logo{
        display: none;
    }
    .username{
        display: none;
    }

    .mobile_menu{
        display: flex;
        flex-direction: row;
        align-content: space-around;
        margin: auto;
        margin-left: 2%;
    }
    .mobile_menu img{
        width: 50%;
    }
}
