.nav_lateral{
    display: flex;
    width: 10.5%;
}
.section_dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.section_dashboard img{
    width: 40%;
}
.username{
    display: flex;
    flex-direction: column;
    text-align: center;
    float: right;
    margin: auto;
    margin-left: 60%;
}
.username img{
    width: 7%;
}

.nav_lateral a{
    text-decoration: none;
    color: #e6e6e6;
    font-size: 1rem;
}

.nav_mobile{
    display: none;
}

.mobile_menu{
    display: none;
}


@media (max-width: 450px){
    .logo{
        display: none;
    }
    .username{
        display: none;
    }
    .mobile_menu{
        display: flex;
        flex-direction: row;
        align-content: space-around;
        margin: auto;
        margin-left: 7.5%;
    }
    .mobile_menu img{
        width: 56%;
    }
}
@media (min-width: 450px) and (max-width: 740px){
    .logo{
        display: none;
    }
    .mobile_menu {
        display: flex;
        margin: 0.75% auto 0;
        flex-direction: row;
        align-content: space-around;
        margin-left: 2%;
    }
    .mobile_menu img{
        width: 17%;
    }
}