
ul:hover{
    visibility:visible!important;
}
a#menu-share:hover + ul>li:hover{     
    animation-name: subir;
    animation-duration: 1s;    
	opacity:1!important;    
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

a#menu-share + ul{
    visibility: hidden;     
	opacity:.5;
}

a#menu-share:hover + ul{   
    animation-name: subir;
    animation-duration: 1s;
    
    visibility: visible;
}
@keyframes subir{
    20%{
        transform: translateY(-10);

    }
    60%{
        
        transform: translateY(-15);
        
    }
}