.blocografico {
    padding:0;
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100%;
    margin-top: 5%;
    height:70%;
    justify-content: space-around;
}
.blocografico .bloco { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 88%;
    height: 40%;
    background: linear-gradient(to bottom, rgb(250, 250, 250), #f1ceb0 200%);
    margin: 0 auto;
    box-shadow: 4px 4px 6px rgba(100, 100, 100, 0.5);
}
div.bloco>#descricao {
    letter-spacing: .8px;
    padding-top: 1.75%;
    font-size: 1.3em;
    width: 100%;
    height: 11%;
    color: white;
    background-color: rgb(00, 40, 40);
}
.blocografico .bloco main {
    align-items: center;
    width: 100%;
    height: 100%;
}
.blocografico .bloco #linegraph {
    margin: 2% auto 0 !important;
    width: 95% !important;
    height: 80% !important;
}
.blocografico .bloco #pizzagraph {
    margin: 10% auto !important;
    width: 100% !important;
    height: 550% !important;
}

@media screen and (min-width:450px){
    .blocografico {
        padding:0;
        display:flex;
        flex-direction: column;
        align-items:center;
        width:100%;
        margin-top: 6.5%;
        height:65.5%;
        justify-content: space-around;
    }
    .blocografico .bloco main {
        width: 90%;
        height: 83%;
    }
    .blocografico .bloco #linegraph {
        margin: 5% auto 0 !important;
        width: 80% !important;
        height: 95% !important;
    }
    .blocografico .bloco #pizzagraph {
        margin: 3% auto 0 !important;
        width: 50% !important;
        height: 550% !important;
    }
}

@media screen and (min-width:770px) {
    .blocografico{
        width: 100%;
        height: 65.2%;
        margin:0 auto;
        display:flex;
        flex-direction:row;
    }
    .blocografico .bloco{
        width: 37%;
        height: 68%;
        align-items: center;
    }     
    .blocografico .bloco #linegraph {
        margin:15% auto !important;
        width: 95% !important;
        height: 55% !important;
    }
    .blocografico .bloco #pizzagraph {
        margin-top:17% !important;
        width: 100% !important;
        height: 450% !important;
    }
}

@media screen and (min-width:950px) {
    .blocografico .bloco #linegraph {
        margin:13% auto !important;
    }
    .blocografico .bloco #pizzagraph {
        margin-top:12% !important;
        width: 90% !important;
        height: 475% !important;
        justify-content: space-around;
    }
}

@media screen and (min-width:1126px){
    .blocografico{
        width: 95%;
        height: 70%;
        display:flex;
        flex-direction: row;
        align-items: center;
        margin:0 auto;
    }
    .blocografico div{ 
        display: flex;
        height: 30%;
        margin-left: 5%;
    }
    .blocografico .bloco{
        width: 35%;
        height: 72%;
        align-items: center;
    }        
    .blocografico .bloco #linegraph {
        margin:6% auto 0 !important;
        width: 85% !important;
        height: 72% !important;
    }
    
    .blocografico .bloco #pizzagraph {
        margin:0 auto !important;
        margin-top:12.5% !important;
        width: 100% !important;
        height: 600% !important;
        justify-content: space-around;
    }
}

@media (min-width:450px) and (max-width:700px) {
    .blocografico { 
        margin-top:0;
        align-items: center;
        display:flex;
        flex-direction: column; 
        width: 100%;
        height:80%;
    }
    .blocografico .bloco{
        margin-top: 6%;
        width: 75%;
        height: 100%;
        align-items: center;
    }        
    .blocografico .bloco #linegraph {
        margin: 5% auto !important;
        width: 90% !important;
        height: 70% !important;
    }
    .blocografico .bloco #pizzagraph {
        margin: 8% auto !important;
        width: 100% !important;
        height: 550% !important;
        justify-content: space-around;
    }

}
