*{
    margin:0;
    padding:0;
}
html {
    height: 100vh;
    width: 100vw;
}
body {
    width: 100vw;
    height: 100vh;
}
footer {
    text-align: center;
    height: 5vh;
    color: white;
    background-color: rgb(10, 10, 10);
}

.header {
    height: 7.5vh;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction:row;
}
.header>div.logo {
    width:20%;
    height:100%;
}
.header>div.logo>a img {
    width:100%;
    height:100%;
}
main#flex-main {
    display: flex; 
    flex-direction: row; 
    width: 100vw;
    height: 125vh;
    background:rgb(250, 250, 250);
}

.main_box {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:770px) {
    .header {
        height: 10vh;
        background-color: rgb(230, 230, 230);
        display: flex;
        flex-direction:row;
    }

    main#flex-main {
        display: flex; 
        flex-direction: row; 
        width: 100vw;
        height: 85vh;
        background:rgb(250, 250, 250);
    }
}
