*{
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    height: 100vh;
    width: 100vw;
}
body {
    width: 100vw;
    height: 100vh;
}
footer {
    text-align: center;
    height: 5vh;
    color: white;
    background-color: rgb(10, 10, 10);
}

.header {    
    box-shadow: 0px 4px 5px rgba(100, 100, 100, 0.4);
    height: 8.5vh;
    background: rgba(230, 230, 230, 0.1);
    display: flex;
    flex-direction:row;
    position: relative;
}
.header>div.logo {    
    padding-top:.5%;
    width: 100%;
    height:100%;
}
.header>div.logo>a img {
    width:30%;
    height:80%;
}
main#flex-main {
    display: flex; 
    flex-direction: row; 
    width: 100vw;
    height: 125vh;
    background:rgba(250, 250, 250,0.0);
}
.box-user{  
    display:flex;
    flex-direction:row;  
    width:45%;
    height:100%;
}
.box-username{
    text-decoration: none;
    padding-top: 4.8%;
    color:rgb(50, 50, 50,.5);
}
.box-username a{
    text-decoration: none;
    padding:5%;
    font-size:1.5em;
    color:rgb(10, 10, 10,.5);
}

.box-user>div{
    width: 100%;
    height:100%;
}
.box-user>div img{
    margin-top:4%;
    width: 38%;
    height:80%;
}


.main_box {
    width: 100%;
    height: 100%;    
    background:rgba(250, 250, 250,0.0);
}

@media screen and (min-width:770px) {
    .header {
        height: 10vh;
        background-color: rgb(230, 230, 230);
        display: flex;
        flex-direction:row;
    }

    main#flex-main {
        display: flex; 
        flex-direction: row; 
        width: 100vw;
        height: 85vh;
        background:rgba(250, 250, 250,0.0);
    }
}

@media (min-width:450px) and (max-width:700px) {
    main#flex-main { 
        width: 100vw;
        height: 250vh;
    }
    .main_box{
        width: 100%;
        height:100%;    
    }
    .header{
        background-color: rgb(10, 10, 10);
    }
    footer{
        height: 8vh ;
    }
    
}
@media  (min-width:0px) and (max-width:700px){
    .header{
        background-color: rgb(10, 10, 10); 
    }
    .box-user, .box-username img{
        display: none;
    }
}