section.objetivos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

section.objetivos>header.header-pagina {
    height: 10%;
    width: 100%;
    background-color: rgb(4, 119, 100);
    color: rgb(235, 235, 235);
    font-size: 1.5em;
    text-align: center;
}

section.objetivos>header.header-pagina>div.header-title {
    margin: 1%;
}

section.objetivos>main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

section.objetivos>main>article.box-objetivo {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(162, 212, 210, .84);
    width: 34%;
    height: 40%;
    margin: 0 1%;
    border-radius:10px;
    border: .5px solid rgba(5, 117, 117, 0.1);
    box-shadow: 4px 5px 6px rgba(30,30,30,.5);
}
section.objetivos>main>article.box-objetivo>section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;    
    width: 100%;
    height: 100%;
}
section.objetivos>main>article.box-objetivo>section:nth-child(1){
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;   
}
section.objetivos>main>article.box-objetivo>section:nth-child(1)>section:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    width: 100%;
    height: 100%;
}

section.objetivos>main>article.box-objetivo>section:nth-child(1)>section:nth-child(1)>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 80%;
    height: 90%;
}
section.objetivos>main>article.box-objetivo>section:nth-child(1)>section:nth-child(1)>div>img{
    width: 50%;
    height: 70%;
}
section.objetivos>main>article.box-objetivo>section:nth-child(1)>section:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    width: 100%;
    height: 20%;
}
section.objetivos>main>article.box-objetivo>section:nth-child(1)>section:nth-child(2)>div#box-progresso{
    width: 80%;
    background-color:rgba(210, 210, 210);
    height: 0.5em;
    margin: 1% 0;
}

section.objetivos>main>article.box-objetivo>section:nth-child(1)>section:nth-child(2)>div#box-progresso>div#barra-progresso{
    width: 80%;
    height: 100%;
    background: #6cf596;
    text-align: center;
    line-height: 32px;
    color: black;
    max-width: 100%;
}
section.objetivos>main>article.box-objetivo>section:nth-child(1)>section:nth-child(2)>div#valores{
    width: 80%;
    height: 100%;

}

section.objetivos>main>article.box-objetivo>section:nth-child(2){
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 20%;
}
section.objetivos>main>article.box-objetivo>section:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
}
section.objetivos>main>article.box-objetivo>section:nth-child(2)>img{
    margin: 2%;
}
section.objetivos>main>article.box-objetivo>section:nth-child(2)>img{
    margin: 2%;
}
section.objetivos>main>article.box-objetivo>section.add-money{
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
}
section.objetivos>main>article.box-objetivo>section.add-money>form{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
    padding:2% 5% 0% 5%;
}
section.objetivos>main>article.box-objetivo>section.add-money>form>input:nth-child(1){
    width: 60%;
    height: 50%;
    margin-right:5%;
}
section.objetivos>main>article.box-objetivo>section.add-money>form>input:nth-child(2){
    width: 30%;
    height: 50%;
    margin-right:5%;
}


/*------------ modal objetivo -------------*/

div#container-modal>div#box-modal{
    margin-top: 10%;
    width:40%;
    height:52.5%;
}
div#container-modal>div#box-modal>header#header-box-modal{
    border-radius: 20px 20px 0px 0px;
    background:rgb(4, 119, 100,.8);
    width:92.1%;
    height:12%;
    padding-top: 2%;
    padding-left:8%;
    text-align: left;
    color:rgb(250, 250, 250);
    font-size: 2em; 
}
div#container-modal>div#box-modal>header#header-box-modal>span:nth-child(2){
    margin-top:-1%;
}
div#container-modal>div#box-modal>main#main-box-modal{    
    background:rgba(210, 210, 210,.2);
    border-radius: 0px 0px 20px 20px;
    width:100%;
    height:83.5%;
    display: flex;
    flex-direction: column;
}
div#container-modal>div#box-modal>main#main-box-modal>section{    
    width: 100%;
    height: 100%;
}
div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(1){    
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row; 
}
div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(1)>div:nth-child(1){    
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center ;
    justify-content: center;

}
div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(1)>div:nth-child(1)>img{
    margin-left:20%;    
    width: 14%; 
    height: 80%;
    
}
div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(1)>div:nth-child(1)>span{
    margin: 7% 0% 0% 5%;        
    width: 50%;
    height: 100%;
    font-size: 2.5em;
}


/* section secundaria*/ 

div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(2){    
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}
div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(2)>article:nth-child(1){    
    width: 60%;
    height: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

}
div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(2)>article:nth-child(1)>div:nth-child(1){    
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    font-size:1.3em;

}
div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(2)>article:nth-child(1)>div:nth-child(2){    
    width: 80%;
    height: 100%;
    text-align:center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:.8em;
}



div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(2)>article:nth-child(2){    
    width: 40%;
    height: 100%;
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(2)>article:nth-child(2)>span{
    position:absolute ;
    font-weight: bold;
    font-size: 1.6em;
}
div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(2)>article:nth-child(2)>canvas#grafico-objetivo{
    width: 120%;
    height: 70%;
}



/* new objetivo*/ 
article#new-goal{
    background: rgba(20, 20, 20,.4)
}
div#label-objetivo{
    font-size: 1.7em;
    font-weight: bold;
}
select#modal-form-objetivo{
    background: rgb(4, 119, 100);
}
form.modal-form input{
    border-bottom: 3px solid rgb(4, 119, 100);
}
form.modal-form button{
    background: rgb(4, 119, 100);
    width:40%;
    height:5%;
    padding-bottom:5%;
}


/* Adicionar money*/

section.add-money{
}
section.add-money>form{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
section.add-money>form>input{    
    width:40%;
    height:100%;
}
section.add-money>form>button{    
    background: rgb(4, 119, 100);
    color:white;
    width:20%;
    height:55%;
}

section.add-money>form>span{   
    margin-left: 10%; 
    margin-top: -1.2%; 
    width:10%;
    font-weight: bold;
    font-size: 2em;
}
section.add-money>form>span:hover{ 
    color:rgb(5, 172, 141);
}



/*RESPOSIVIDADE*/
@media(max-width: 700px){
    section.objetivos>main#main-objetivos{
        display: flex;
        flex-direction: row;        
        align-items: center;
        justify-content: space-around;         
        height: 150%;       
    }
    section.objetivos>main>article.box-objetivo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;    
        width: 80%;
        height: 20%;
        margin-top:5%;
    }
    main#flex-main{
        height: 150%;
    }
    section.objetivos>main>article.box-objetivo>section:nth-child(2){
        justify-content: space-around;
    }
    section.add-money>form>span {
        margin-top:-4%;
        font-size: 2em;
    }
    /* modal detalhamento*/
    
    div#container-modal>div#box-modal{
        margin-top: 45%;
        width:90%;
        height:45%;
    }
    div#container-modal>div#box-modal>header#header-box-modal{
        font-size: 1.7em; 
    }
    div#container-modal>div#box-modal>header#header-box-modal>span:nth-child(2){
        margin-top:-2%;
    }

    div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(1)>div:nth-child(1)>img{
        margin-left:20%;    
        width: 25%; 
        height: 90%;    
    }
    div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(1)>div:nth-child(1)>span{
        margin: 12% 0% 0% 10%;       
        font-weight: bold;
    }


    /* section secundaria*/ 

    div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(2){    
        width: 100%;
        height: 70%;
    }
    div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(2)>article:nth-child(1){    
        width: 55%;
        height: 100%;
    }
    div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(2)>article:nth-child(1)>div:nth-child(1){    
        font-size:1.05em;
    }
    div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(2)>article:nth-child(1)>div:nth-child(2){    
        width: 90%;
        height: 100%;
        font-size:.8em;
    }
    div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(2)>article:nth-child(2)>span{
        font-size: 1.6em;
        margin-left:10%;
    }
    div#container-modal>div#box-modal>main#main-box-modal>section:nth-child(2)>article:nth-child(2)>canvas#grafico-objetivo{
        width: 200% !important;
        height: 75% !important;
        padding: 0;
        margin-left:15%;
    }

}