.orcamento-main-box {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.orc {
    padding:0;
    display:flex;
    flex-direction: row;
    align-items:center;
    width:100%;
    height:100%;
    justify-content: space-around;
}

.header-pagina {
    height: 10%;
    width: 100%;
    background-color: rgb(53, 53, 128);
    color: rgb(235, 235, 235);
    font-size: 1.5em;
    text-align: center;
}
.header-title{
    margin: 1%;
}

.header-lista {
    border-radius: 20px 20px 0 0;
    height: 5%;
    width: 90%;
    padding: 5% 5% 0%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.header-topicos{
    border-radius: 20px 20px 0 0;
    height: 5%;
    width: 90%;
    padding: 5% 5% 0%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.header-mes {
    height: 10%;
    width: 100%;
}

.orcamento {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.box-lista-orcamento {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 100%;
}

.box-cards-orcamento {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 25%;
    height: 80%;
}

.cards-orcamento {
    display: flex;
    background-image: linear-gradient(45deg, #b5b5b5, #93a6e21c);
    flex-direction: column;
    width: 80%;
    height: 20%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 4px 4px 12px 0px rgba(20,20,20, 0.5);
}

.lista-orcamento {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    background: #e6e6e6;
    width: 80%;
    height: 80%;
    margin: auto;
    box-shadow: 4px 6px 9px 0px rgba(20,20,20, 0.5);
    font-size: 1.25em;
    color: #424242;
}


.valores-orcamento{
    height:100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: 1%;
}

.orcamento-card-title {
    margin: 0 auto; 
    height: 100%;
    color: rgb(60, 60, 60);
    width: 80%;
    text-align: left;

}

.orcamento-title {
    width: 100%;
    padding: 5% 0% 0%;
    border-bottom: 1px solid rgb(60, 60, 60);
    font-size:1.2em;
}

.orcamento-cards-values {
    width: 100%;
    padding: 5% 0% 0%;
    font-size: 1.5em;
}

#orcamento-lat {
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#orcamentos{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background: black;
    border-radius: 50px;
    padding: 2px;
}

#box-progresso{
    width: 15%;
    background-color: #ddd;
    height: 0.5em;
    margin: 1% 0;
}

.barra{
    width: 1%;
    height: 100%;
    background: #6cf596;
    text-align: center;
    line-height: 32px;
    color: black;
    max-width: 100%;
}


#barra-progresso0{
    width: 1%;
    height: 100%;
    background: #6cf596;
    text-align: center;
    line-height: 32px;
    color: black;
    max-width: 100%;
}

#barra-progresso1{
    width: 1%;
    height: 100%;
    background: #6cf596;
    text-align: center;
    line-height: 32px;
    color: black;
    max-width: 100%;
}

#barra-progresso2{
    width: 1%;
    height: 100%;
    background: #6cf596;
    text-align: center;
    line-height: 32px;
    color: black;
    max-width: 100%;
}

#barra-progresso3{
    width: 1%;
    height: 100%;
    background: #6cf596;
    text-align: center;
    line-height: 32px;
    color: black;
    max-width: 100%;
}

#barra-progresso4{
    width: 1%;
    height: 100%;
    background: #6cf596;
    text-align: center;
    line-height: 32px;
    color: black;
    max-width: 100%;
}
#receita-mensal{
    background: lightgreen;
}

#despesas-planejadas{
    background: lightcoral;
}
#saldo-total{
    background: lightblue;
}